.title1{
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--primary-font-color);

    &.modalTop{
        position: absolute;
        top: 3%;
        left: 45%;
    }
}

.title2{
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-font-color);
}


.headline{
    font-family: var(--font-primary);
    font-size: 0.75rem;
    font-weight: 400;
    &.primary-color{
        color: var(--primary-font-color);
    }
    &.secondary-color{
        color: var(--secondary-font-color);
    }
    &.bold{
        font-weight: 700;
    }
    &.error{
        color: rgb(177, 4, 4);
        text-decoration: underline;
    }
};

.paragraph{
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-font-color);
}