.infoDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    gap: 10px;
    


    p{
        background-color: var(--primary-background-color);
        color: var(--primary-font-color);
        border-radius: 6px;
        height: 3.125rem;
        width: 100%;
        padding: 16px;

        font-family: var(--font-primary);
        font-size: 1rem;

        position: relative;

        overflow-x: auto;
        overflow-y: hidden;

        gap: 10px;

        &:hover{
            border: 1px solid var(--secondary-color-blue);
            border-radius: 6px;
        }

        button{
            position: absolute;
            top: 30%;
            right: 3%;
            background-color: var(--terciary-background-color);
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;
        }
    }
}