.wrap{
    position: fixed;
    top: 2px;
    width: 100vw;
    height: 12%;
    max-height: 130px;
    z-index: 50;
    background: linear-gradient(to right, var(--secondary-color-blue), var(--primary-color-blue), var(--secondary-color-pink), var(--primary-color-pink));
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;

    height: 12%;
    max-height: 130px;
    background-color: var(--primary-background-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .divImg{
        height: 100%;
        width: 180px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 24px;
    }

    .divButtons{
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        padding: 2rem;
    }

}